* {
  margin: 0;
  padding: 0;
}
h1 {
  background-color: black;
  color: white;
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;
}
.choice {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: black;
    
}
img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5.5rem;
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
    margin-left:5rem
}
#user-score,#computer-score{
    font-size: 3rem;
}
.msg-container{
    margin-top: 5rem;
    text-align: center;
}

#msg{
    padding: 10px;
    font-size: 2rem;
    background-color: black;
    color: white;
    display: inline;
    border-radius: 25px;
}
